.cabecera{
    text-align: center;
    background-color: #00a7d7;
    margin-bottom: 0px;
}
body{
    background-color: #ccebf4;
}
li.menu{
    display: inline-block;
    margin: 10px;
}
ul.menu{
    text-align: center;
    background-color: #156278;
    font-size: large;
}
a{
    color: #ffffff;
}